<div class="container">
  <section class="main-controls">
    <%= image_tag "interviewer.png", class: "img-fluid" %>

  <div class="text-center">
    <h2><%= @question_title %></h2>
  </div>

    <div id="buttons">
      <button class="record btn btn-info">録音スタート</button>
      <button class="stop btn btn-warning">次へ</button>
    </div>
  </section>
    <%= audio_tag(@question_voice_data, id: "question-voice") %>
    <div class="sound-clips"></div>

</div>
<%= javascript_pack_tag 'app' %>
