<div class="container">
  <section class = "hero">
    <div class="hero-text">
      <h1 class = "hero-title">PREP法で<br>わかりやすく論理的に<br>話せるように</h1>
      <%= link_to "今すぐはじめる", new_user_path, class: "cta" %>
      <%= link_to "ゲストログイン", guest_login_path, method: :post, class: "guest" %>
    </div>
    <div class="hero-image">
      <%= image_tag "main2.png", class: "img-fluid" %>
    </div>
  </section>
</div>
<section class = "prep">
  <div class="container text-center">
  <h2>PREP法とは</h2>
  <p class = "text-left">「PREP法」とは、分かりやすい文章や説明の構成を作るための文章構成法です。<br>
  最初に結論を伝え、次にその理由を説明、事例で理由を補強し、最後にもう一度結論を述べる構成です。</p>
  <div class="prep-flow">
    <div class="flow-item">
      <div class="prep-initial">P</div>
      <div class="flow-bg">
        <div class="prep-title">Point（結論）</div>
        <div class="prep-example">私の強みは〜です。</div>
      </div>
    </div>
    <div class="flow-item">
      <div class="prep-initial">R</div>
      <div class="flow-bg">
        <div class="prep-title">Reason（理由）</div>
        <div class="prep-example">なぜなら、インターン先で〜という成果をあげたからです。</div>
      </div>
    </div>
    <div class="flow-item">
      <div class="prep-initial">E</div>
      <div class="flow-bg">
        <div class="prep-title">Example（具体例）</div>
        <div class="prep-example">インターン先では〜という課題があり、それを解決するために〜しました。</div>
      </div>
    </div>
    <div class="flow-item">
      <div class="prep-initial">P</div>
      <div class="flow-bg">
        <div class="prep-title">Point（結論）</div>
        <div class="prep-example">この強みを活かし、御社の〜に貢献したいと思っております。</div>
      </div>
    </div>
    </div>
  </div>
  </div>
</section>
