<div class="container">
  <section class = "hero">
    <div class="hero-text">
      <h1 class = "hero-title">PREP法で<br>わかりやすく論理的に<br>話せるように</h1>
      <%= link_to "今すぐはじめる", new_user_path, class: "cta" %>
    </div>
    <div class="hero-image">
      <%= image_tag "main.png", class: "img-fluid" %>
    </div>
  </section>
</div>
<section class = "prep">
  <div class="container text-center">
  <h2 class>PREP法とは</h2>
  <p class = "text-left">「PREP法」とは、分かりやすい文章や説明の構成を作るための文章構成法です。<br>
  最初に結論を伝え、次にその理由を説明、事例で理由を補強し、最後にもう一度結論を述べる構成です。</p>
  <div class="prep-flow">
    <div class="flow-item">
      <div class="prep-initial">P</div>
      <div class="flow-bg">
        <div class="prep-title">Point（結論）</div>
        <div class="prep-example">私の強みは〜です。</div>
      </div>
    </div>
    <div class="flow-item">
      <div class="prep-initial">R</div>
      <div class="flow-bg">
        <div class="prep-title">Reason（理由）</div>
        <div class="prep-example">なぜなら、インターン先で〜という成果をあげたからです。</div>
      </div>
    </div>
    <div class="flow-item">
      <div class="prep-initial">E</div>
      <div class="flow-bg">
        <div class="prep-title">Example（具体例）</div>
        <div class="prep-example">インターン先では〜という課題があり、それを解決するために〜しました。</div>
      </div>
    </div>
    <div class="flow-item">
      <div class="prep-initial">P</div>
      <div class="flow-bg">
        <div class="prep-title">Point（結論）</div>
        <div class="prep-example">この強みを活かし、御社の〜に貢献したいと思っております。</div>
      </div>
    </div>
    </div>
  </div>
  </div>
</section>
<section class = "problem">
  <div class="container mx-auto">
    <h2 class = "text-center">こんなお悩みありませんか？</h2>
    <div class="problem-content">
      <div class="problem-text">
        <p><i class="fa-regular fa-square-check"></i>面接で上手く受け答えできない</p>
        <p><i class="fa-regular fa-square-check"></i>回答に時間がかかり、変な間ができる</p>
        <p><i class="fa-regular fa-square-check"></i>面接自体に苦手意識がある</p>
      </div>
      <div class="problem-image">
        <%= image_tag "problem.png", class: "img-fluid" %>
      </div>
    </div>
  </div>
</section>
<section class = "cause">
  <div class="container mx-auto">
    <h2 class = "text-center">それ、マルチタスクが原因かもしれません</h2>
    <div class="cause-content">
      <div class="cause-image">
        <%= image_tag "cause.png", class: "img-fluid" %>
      </div>
      <div class="cause-text">
        <p>自分の印象や話の分かりやすさなど、複数のことを同時に意識して
        マルチタスクとなってしまい、上手く話せないのかもしれません！</p>
      </div>
    </div>
  </div>
</section>
