<div class="container">
  <section class = "hero">
    <div class="hero-text">
      <h1 class = "hero-title">PREP法で<br>わかりやすく論理的に<br>話せるように</h1>
      <%= link_to "今すぐはじめる", new_user_path, class: "cta" %>
    </div>
    <div class="hero-image">
      <%= image_tag "main.png", class: "img-fluid" %>
    </div>
  </section>
</div>
<section class = "prep text-center">
  <div class="container">
  <h2>PREP法とは</h2>
  <p>「PREP法」とは、分かりやすい文章や説明の構成を作るための文章構成法です。<br>
  最初に結論を伝え、次にその理由を説明、事例で理由を補強し、最後にもう一度結論を述べる構成です。</p>
  <div class="row justify-content-center">
    <div class="col-sm">
      <div class="card">
        <div class="card-body">
          <h3>P</h3>
          <p class="card-text">Point</p>
          <p>結論</p>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card">
        <div class="card-body">
          <h3>R</h3>
          <p class="card-text">Reason</p>
          <p>理由</p>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card">
        <div class="card-body">
          <h3>E</h3>
          <p class="card-text">Example</p>
          <p>具体例</p>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card">
        <div class="card-body">
          <h3>P</h3>
          <p class="card-text">Point</p>
          <p>結論</p>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
<section class = "problem">
  <div class="container mx-auto">
    <h2 class = "text-center">こんなお悩みありませんか？</h2>
    <div class="problem-content">
      <div class="problem-text">
        <p><i class="fa-regular fa-square-check"></i>面接で上手く受け答えできない</p>
        <p><i class="fa-regular fa-square-check"></i>回答に時間がかかり、変な間ができる</p>
        <p><i class="fa-regular fa-square-check"></i>面接自体に苦手意識がある</p>
      </div>
      <div class="problem-image">
        <%= image_tag "problem.png", class: "img-fluid" %>
      </div>
    </div>
  </div>
</section>
<section class = "cause">
  <div class="container mx-auto">
    <h2 class = "text-center">それ、マルチタスクが原因かもしれません</h2>
    <div class="cause-content">
      <div class="cause-image">
        <%= image_tag "cause.png", class: "img-fluid" %>
      </div>
      <div class="cause-text">
        <p>自分の印象や話の分かりやすさなど、複数のことを同時に意識して
        マルチタスクとなってしまい、上手く話せないのかもしれません！</p>
      </div>
    </div>
  </div>
</section>
