<p><%= @user.name %>様</p>
<p>====================================================</p>

<p>パスワード再発行のご依頼を受け付けました。</p>

<p>こちらのリンクからパスワードの再発行を行ってください。</p>

<p><a href="<%= @url %>"><%= @url %></a></p>

<p>本メールは<a href="https://www.prep-method-training.com/">https://www.prep-method-training.com/</a>より自動送信されています。</p>
<p>心当たりのない場合は破棄をよろしくお願いします。</p>

<p> &copy; Prep<p> 