<header>
  <div class="container">
    <div class="header_left">
      <%= image_tag "logo.png" %>
    </div>
    <div class="header_right">
      <%= link_to "新規登録", new_user_path, class: "sign_up" %>
      <%= link_to "ログイン", login_path, class: "sign_in" %>
    </div>
  </div>
</header> 