<header>
  <div class="container">
    <div class="header_left">
      <%= image_tag "logo.png" %>
    </div>
    <div class="header_right">
    <div class="new">
      <%= link_to "新規登録", "#" %>
    </div>
    <div class="login">
      <%= link_to "ログイン", "#" %>
    </div>
    </div>
  </div>
</header> 