<header>
  <div class="container">
    <div class="header_left">
      <%= image_tag "logo.png" %>
    </div>
    <div class="header_right">
      <%= link_to "練習する", "#", class: "sign_up" %>
      <%= link_to "振り返る", "#", class: "sign_in" %>
      <%= link_to 'ログアウト', logout_path, method: :delete %>
    </div>
  </div>
</header> 