header {
  width: 100%;
  height: 80px;
  border-bottom: solid 0.1px;
  background-color: #B9E3F9;
  .container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;

    .header_left {
      max-width: 200px;
      img {
        width: 100%;
        height: auto;
      }
    }

    .header_right {
      display: flex;
      margin-left: auto;
      .sign_in {
        margin-left: 24px;
      }
    }
  }
}

.main-controls { 
  width: 550px;
  margin: 0 auto; 
}

.font{
  font-size: 1.25rem;
}

.color {
  color: #FC9F26;
}

.bg{
  background-color: #FC9F26;
}

.list-header {
  background-color: #FC9F26;
  padding: 0.75rem 1.25rem;
  list-style: none;
  color: #fff;
  text-align: center;
}