$lg: 1200px;
$pc: 1024px; // PC
$tab: 768px; // タブレット
$sp: 480px; // スマホ

@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}

@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}

@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

$sizes: lg,
pc,
tab,
sm,
sp; //冒頭に使うサイズを明記するとわかりやすい

$breakpoint-up: ('sp': 'screen and (min-width: 480px)',
  'sm': 'screen and (min-width: 750px)',
  'tab': 'screen and (min-width: 769px)',
  'pc': 'screen and (min-width: 1024px)',
  'lg': 'screen and (min-width: 1201px)',
) !default;

//mixinを定義（初期値はmd）
@mixin mq-up($breakpoint: md) {
  @media #{map-get($breakpoint-up, $breakpoint)} {
    @content;
  }
}

body {
  margin: 0;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}
.main{
  flex: 1 0 auto;
}
/* ヘッダー
   ========================================================================== */
header {
  width: 100%;
  height: 80px;
  box-shadow: 0px 2px 8px #eaeaea;
  
  .container {
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    max-width: 1200px;

    .header_left {
      max-width: 130px;
      @include tab(){
        max-width: 100px;
      }
      img {
        width: 100%;
        height: auto;
      }
    }

    .ml-5{
      @include tab(){
        display: none;
      }
    }
    .ml-4{
      @include tab(){
        display: none;
      }
    }

    .header_right {
      margin-left: auto;
      display: flex;
      .sign-up{
        padding: 10px 22px;
        background-color: #FC9F26 !important;
        color: #fff;
        text-align: center;
        vertical-align: middle;
        border-radius: 43px;
        @include tab(){
          padding: 10px 15px;
          display: none;
        }
        &:hover {
          opacity: 0.8;
          transition: 0.3s;
        }
        .fa-angle-right{
          color: #FFF;
        }
      }
      .sign-in {
        margin-left: 16px;
        padding: 10px 22px;
        border: solid 1px #3399FF;
        border-radius: 43px;
        text-decoration: none;
        background-color: #fff;
        @include tab(){
          padding: 10px 15px;
          display: none;
        }
        &:hover {
          background-color: #3399FF;
          color: #fff;
          transition: 0.3s;
        }
      }

      .sign-in-img{
        max-width: 35px;
        @include mq-up(tab){
          display: none;
        }
      }

      .header-icon-container{
        display: flex;
        .header-icon{
          max-width: 40px;
          margin-right: 10px;
          @include mq-up(tab){
            display: none;
          }
        }
      }

      .dropdown-toggle{
        max-width: 60px;
        @include tab(){
          max-width: 50px;
        }
        &::after{
          display: none;
        }
      }
    }
  }
}
/* フッター
   ========================================================================== */
  footer{
    .container{
      font-size: 14px;
    }
  }

/* トップページ
   ========================================================================== */
.hero{
  padding: 80px 0;
  .container{
    @include mq-up(tab){
      display: flex;
    }
  }

  .hero-title{
    padding-bottom: 40px;
    font-size: 2rem;
    line-height: 1.5;
    @include mq-up(tab){
      font-size: 3rem;
      padding-top: 25px;
    }
  }

  .cta {
    background-color: #FC9F26 !important;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    padding: 20px 39px;
    border-radius: 43px;
    @include tab(){
      padding: 16px 24px;
    }
    &:hover {
      opacity: 0.8;
    }
   }

   .guest {
    border: solid 1px #3399FF;
    color: #3399FF;
    text-align: center;
    vertical-align: middle;
    padding: 19px 39px;
    border-radius: 43px;
    margin-left: 20px;
    @include tab(){
      padding: 16px 24px;
    }
    &:hover {
      background-color: #3399FF;
      color: #fff;
      transition: 0.3s;
    }
   }

  .hero-image {
    max-width: 520px;
    margin-left: auto;
    @include tab(){
      margin-top: 30px;
    }
  }
}

.prep{
  margin: 0 auto;
  background-color: #E6F4FF;
  .title{
    color: #0D6CBE;
  }
  .container{
    max-width: 900px;
    margin: 0 auto;
    padding: 80px 0;
    .text-left{
      display: inline-block;
      margin-top: 22px;
      line-height: 1.8;
    }
    .prep-flow{
      text-align: left;
      .flow-item{
        display: flex;
        align-items: center;
        margin-bottom: 12px;
        height: 68px;
        .prep-initial{
          padding: 18px 26px;
          font-size: 1.25rem;
          color: #FFF;
          font-weight: bold;
          text-align: center;
          background-color: #F5A623;
          @include tab(){
            padding: 17px 13px;
            font-size: 1rem;
          }
        }
        .flow-bg{
          position: relative;
          width: 100%;
          display: flex;
          align-items: center;
          height: 68px;
          background-color: #fff;
          padding-right: 20px;

          :before {
            content: "";
            position: absolute;
            display: inline-block;
            background-color: #C3C3C3;
            top: 19px;
            left: 22%;
            width: 1px;
            height: 30px;

          }
          .prep-title{
            flex: 0 0 25%;
            padding-left: 20px;
            @include tab(){
              font-size: 14px;
              padding-left: 5px;
            }
          }
          .prep-example{
            @include tab(){
              font-size: 11px;
              padding-left: 10px;
            };
          }
        }
      }
    }
  }
}

.problem{
  padding: 80px 0;

  .container{
    .text-center{
      @include tab(){
        font-size: 1.5rem;
      }
    }

    .problem-content{
      margin-top: 30px;
      @include mq-up(tab){
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .problem-text{
        @include mq-up(tab){
          font-size: 1.5rem;
        }

        .fa-square-check{
          color: #0D6CBE;
          padding-right: 10px;
        }
      }

      .problem-image{
        max-width: 500px;
      }
    }
  }
}

.cause{
  padding: 80px 0;
  .container{
    .text-center{
      @include tab(){
        font-size: 1.5rem;
      }
    }

    .cause-content{
      margin-top: 30px;
      @include mq-up(tab){
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .cause-text{
        @include mq-up(tab){
          font-size: 1.5rem;
        }
      }

      .cause-image{
        max-width: 500px;
      }
    }
  }
}//cause

.use-flow{
  padding: 80px 0;
  .use-flow-items{
    justify-content: space-between;
    max-width: 905px;
    margin: 0 auto;
    margin-top: 40px;
    @include mq-up(tab){
      display: flex;
    }
    
    .use-flow-item{
      margin-bottom: 25px;
      @include mq-up(tab){
        width: 31%;
      }
      h3{
        font-size: 24px;
        font-weight: 600;
        color: #0D6CBE;
        margin-bottom: 1rem;
      }
      .list-number{
        display: inline-block;
        width: 36px;
        height: 36px;
        margin-right: 10px;
        font-size: 24px;
        background-color: #0D6CBE;
        color: rgb(255, 255, 255);
        text-align: center;
        line-height: 36px;
        border-radius: 50%;
      }
      p{
        line-height: 1.8;
      }
    }
  }
}

/* 汎用
   ========================================================================== */
   .font{
     font-size: 1.25rem;
     @include tab(){
       font-size: 14px;
     }
   }

   .font-2x {
    font-size: 2rem;
    @include tab(){
      font-size: 1.25rem;
    }
   }
   
   .color {
     color: #FC9F26;
   }
   
   .bg{
     background-color: #FC9F26 !important;
    }

    .br{
      @include mq-up(tab){
        display: none;
      }
    }
    
    .btn-bg{
      background-color: #FC9F26 !important;
      padding: 0.5rem 1rem !important;
    }

   label{
     margin-bottom: 4px !important;
     @include tab(){
       margin-bottom: 0 !important;
     }
   }

   a:hover{
    text-decoration: none !important;
   }

   .table-container{
     max-width: 800px;
     margin: 0 auto;
   }

/* Training
   ========================================================================== */

.main-controls { 
  max-width: 500px;
  margin: 0 auto; 
  margin-top: 15px;
}

#question_title{
  font-size: 1.75rem;
}

.phase {
  max-width: 800px;
  color: #E6E6E6;
  justify-content: space-between;
  @include tab(){
    justify-content: space-around;
  }
}

.list-group-item{
  @include tab(){
    display: flex !important;
    align-items: center;
  }

  label{
    @include tab(){
      padding-left: 5px;
    }
  }
}

.list-header {
  background-color: #FC9F26;
  padding: 0.75rem 1.25rem;
  list-style: none;
  color: #fff;
  text-align: center;
}
/* question
   ========================================================================== */

.accordion-container{
  max-width: 750px;
  margin: 0 auto;
  @include tab(){
    font-size: 14px;
  }

  .list-header{
    @include mq-up(tab){
      font-size: 1.25rem;
    }
  }

  .accordion-title{
    position: relative;
    margin: 0;
    font-size: 1.25em;
    font-weight: normal;
    cursor: pointer;
    border-bottom: solid 1px #E9E9E7;

    &:hover,
    &:active,
    &.open{
      background-color: #EEF8FC;
    }

    &::before{
      content: "";
      position: absolute;
      top: 50%;
      right: 25px;
      width: 15px;
      height: 2px;
      /*縦線に*/
      transform: rotate(90deg);
      background: #000;
      transition: all .3s ease-in-out;
    }

    &::after{
      content: "";
      position: absolute;
      top: 50%;
      right: 25px;
      /*横線*/
      width: 15px;
      height: 2px;
      background: #000;
      transition: all .2s ease-in-out;
    }

    &.open::before {
      transform: rotate(180deg);
    }

    &.open::after {
      opacity: 0;
    }

    .date{
      padding: 12.5px 11px 12.5px 35px;
      width: 20%;
      @include tab(){
        padding: 12.5px 11px 12.5px 20px;
        width: 35%;
      }
    }
    
    .list-line{
      position: relative;
      padding: 12.5px 20px;
    }
  }
  .accordion-content {
    display: none;
    padding-left: 2.3125em;
    border: 1px solid #EEF8FC;
    @include tab(){
      padding: 0;
    }
    .row{
      flex-wrap: nowrap;
    }
    audio{
      @include tab(){
        max-width: 250px;
      }
    }
  }
  .yet{
    padding: 12.5px 0px;
    @include tab(){
      text-align: center;
    }
  }
}

