<div class="container">
<h1><%= @category.name %>就活</h1>
<table class = "table">
  <thead class = "thead-dark">
    <tr>
      <th>質問リスト</th>
      <th></th>
    </tr>
  </thead>
<% @category.questions.each do |question| %>
  <tr>
    <td class="align-middle"><%= question.title %></td>
    <td class="align-middle"><%= link_to "振り返る", question_path(question), class: "btn btn-primary" %></td>
  </tr>
<% end %>
</table>
<%= link_to "トップページへ", root_path, class: "btn btn-success" %>
</div>