<% content_for(:title, @category.name) %>
<div class="container">
<h3 class = "text-center mt-5 mb-4">質問をクリックして練習内容を振り返りましょう</h3>
<div class="table-container">
  <ul class="list-group">
    <li class = "list-header font">質問リスト</li>
    <% @questions.each do |question| %>
      <%= link_to question_path(question), class: "list-group-item d-flex align-items-center font" do %>
      <i class="fa-solid fa-circle-arrow-right color mr-3"></i>
      <div><%= question.title %></div>
      <% end %>
    <% end %>
  </ul>
</div>
</div>